ul.navigation-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: maroon;
  overflow: hidden;
}

  ul.navigation-bar li {
    float: left;
    /*border-right: 2px solid white;*/
  }

    ul.navigation-bar li a {
      display: block;
      color: white;
      font-size: 20px;
      font-weight: bold;
      font-family: "Courier New", Courier, monospace;
      text-align: center;
      padding: 10px 15px;
      text-decoration: none;
    }
      ul.navigation-bar li a:hover {
        background-color: darkgoldenrod;
      }