<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <img alt="Brand" id="brand-image" src="public/images/logo.png"> <!--style-->
      </a>
      
      <p class="navbar-text"><b>{{title}}</b></p>
      
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
        {{#each pages}}
          <li><a href={{this}}.html>{{this}}</a></li>
        {{/each}}
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{{!-- handlebars nav-bar.handlebars -f nav-bar.precompiled.js --}}